<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
    <section>
      <%= render 'shared/user_map' %>
    </section>
  </aside>
  <div class="span8">

    <%= render 'follow_form' if signed_in? %>

  </div>
</div>
<div class="row">
  <div class="span12">
    <%= debug @user %>
    <h2>Geolocation</h2>
    <%= debug @user.geolocation %>
  </div>
</div>