<!DOCTYPE html>
<html>
  <head>
    <title>CoasterApp</title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
    <%= yield :headers %>
    <script type="text/javascript" charset="utf-8">
      $(document).ready(function() {
        <%= yield :javascript %>
      })
    </script>

    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>


      <%= render 'layouts/header' %>

      <div class="container">
        <%= render 'shared/flash_messages' %>
        <%= yield %>
        <%= render 'layouts/footer' %>
        <%= debug(params) if Rails.env.development? %>
      </div>
  </body>
</html>